/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body, #wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    /*background: -moz-linear-gradient(-45deg, #0e0813 0%, #341f29 92%, #3c2235 98%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0e0813), color-stop(92%,#341f29), color-stop(98%,#3c2235));
    background: -webkit-linear-gradient(-45deg, #0e0813 0%,#341f29 92%,#3c2235 98%);
    background: -o-linear-gradient(-45deg, #0e0813 0%,#341f29 92%,#3c2235 98%);
    background: -ms-linear-gradient(-45deg, #0e0813 0%,#341f29 92%,#3c2235 98%);
    background: linear-gradient(135deg, #0e0813 0%,#341f29 92%,#3c2235 98%);*/
    background: url(../img/background.png) 0 80px no-repeat;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#home {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0;
    background-color: #ffb5b5;
}

#home .logo {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -22px;
    margin-left: -117.5px;
}

#about {
    position: absolute;
    top: 20px;
    left: 20px;
}

#follow {
    position: absolute;
    top: 20px;
    right: 20px;
}

#follow p {
    margin: 0 0;
}

/* ==========================================================================
   Social icons
   ========================================================================== */

ul.social-buttons {
    padding: 0;
    margin: 5px 15px;
    list-style: none;
}

ul.social-buttons>li {
    float: left;
}

a.sb,
.sb a {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -900em;
    color: #333;
    text-decoration: none;
    line-height: 100%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 2px 5px 0;
}

#follow .social-buttons li a:hover {
    -webkit-transform: rotate('360deg');
}

/* for IE */
*:first-child+html a.sb,
*:first-child+html .sb a {
    text-indent: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

a.sb.rss {
    background: url(../img/rss-button.png) no-repeat;
}

a.sb.twitter {
    background: url(../img/twitter-button.png) no-repeat;
}

a.sb.facebook {
    background: url(../img/facebook-button.png) no-repeat;
}

a.sb.tumblr {
    background: url(../img/tumblr-button.png) no-repeat;
}

a.sb.pinterest {
    background: url(../img/pinterest-button.png) no-repeat;
}

a.sb.google {
    background: url(../img/google-button.png) no-repeat;
}

form#sign-up, form#sign-twitter, form#sign-facebook {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
}

form#sign-twitter, form#sign-facebook {
    display: none;
}

#travel {
    width: 20px;
    height: 20px;
    bottom: 40px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

#space {
    width: 100%;
    height: -webkit-calc(100% - 80px);
    overflow-y: scroll;
    overflow: hidden;
}

#layer1, #layer2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

#layer1 {
    z-index: 100;
}

#layer2 {
    z-index: 50;
}

#space:after {
    content: "";
    clear: both;
    display: block;
}

#main-articles {
    width: 80%;
    height: 100%;
    margin: -100px auto;
    position: relative;
    float: left;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0;
    -webkit-transform-style : preserve-3d;
    -webkit-transition-property : webkit-transform;
    -webkit-transition-duration : .75s;
    -webkit-timing-function : ease-in-out;
    -webkit-transform-origin : 50% 0;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

#content.flip {
    -webkit-transform : rotateY(180deg);
}

#particules {
    width: 100%;
    height: 100%;
}

#search-bar {
    width: 254px;
    height: 44px;
    top: 0;
    left: 0;
    box-shadow: 1px 0px 0px 0px #2e2e2e, 2px 0 0 0 #000000; 
}

#search-bar>form>input[type="text"] {
    width: 199px;
    height: 25px;
    margin: 10px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0px #313131, 0 0px 14px -4px #000000 inset;
    background-image: linear-gradient(bottom, #262626 0%, #0f0f0f 100%);
    background-image: -o-linear-gradient(bottom, #262626 0%, #0f0f0f 100%);
    background-image: -moz-linear-gradient(bottom, #262626 0%, #0f0f0f 100%);
    background-image: -webkit-linear-gradient(bottom, #262626 0%, #0f0f0f 100%);
    background-image: -ms-linear-gradient(bottom, #262626 0%, #0f0f0f 100%);
    outline: none;
    color: white;
    font-size: 11pt;
    font-weight: lighter;
    text-indent: 10px;
    position: relative;
}

input::-webkit-input-placeholder {
    color: #3b3b3b;
}

input[name="find"] {
    width: 21px;
    height: 21px;
    margin: 10px;
    padding: 0;
    border: 0;
    background: url(../img/glass.png);
    position: absolute;
    top: 2px;
    left: 209px;
}

input[name="find"]:hover {
    background: url(../img/glass-hover.png);
}

ul#user-options {
    display: none;
    z-index: 200;
    position:  absolute;
    top: 46px;
    left: 0;
    background: red;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

ul#user-options li, ul#extras li {
    position: absolute;
    top: 10px;
    left: 28px;
    vertical-align: middle;
}

ul#user-options li i, ul#extras li i {
    position: absolute;
    margin-left: -22px; 
}

ul#user-options a {
    position: relative;
    display: block;
    width: 135px;
    height: 41px;
    border: 1px solid black;
    border-top: none;
    color: #888888;
    font-weight: lighter;
    text-shadow: 0 -1px 0 black;
    box-shadow: -1px -1px 0 #484848 inset;
    background: #2e2e2e;
}

ul#user-options a.log-out {
    color: black;
    text-shadow: 0 -1px 0 #d63030;
    box-shadow: -1px -1px 0 #ff4242 inset;
    background: #b32121;
}

.favorite-icon {
    margin-top: 3px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/star.png);
}

a.favorites:hover .favorite-icon {
    background: url(../img/star-hover.png);
}

.extras-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 5px -20px !important;
    background: url(../img/extra.png);
}

a.extras:hover .extras-icon, a.extra:hover .extra-icon, a.extras.hover .extras-icon {
    background: url(../img/extra-hover.png);
}

.extra-icon {
    display: inline-block;
    width: 13px;
    height: 14px;
    margin: 5px -21px;
    background: url(../img/sub-extra.png);
}

.account-icon {
    display: inline-block;
    width: 17px;
    height: 22px;
    background: url(../img/infos.png);
}

a.account:hover .account-icon {
    background: url(../img/infos-hover.png);
}

.log-out-icon {
    display: inline-block;
    width: 19px;
    height: 20px;
    margin-top: 2px;
    background: url(../img/log-out.png);
}

ul#user-options a:hover, ul#user-options a.hover {
    color: white;
    background: #3b3b3b;
}

ul#user-options a.log-out:hover {
    color: white;
    background: #b32121;
}

ul#extras {
    z-index: 200;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    top: 87px;
    left: -136px;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

ul#extras a {
    display: block;
    width: 135px;
    height: 41px;
    color: #888888;
    border-right: none;
    background: #3b3b3b;
    position: relative;
    border-left: 1px solid black;
    border-top: 1px solid black;
    font-weight: lighter;
    text-shadow: 0 -1px 0 black;
    box-shadow: -1px -1px 0 #484848 inset;
}

ul#extras a:last-child {
    border-bottom: 1px solid black;
}

ul#extras a:hover {
    color: white;
}

#timeline {
    position: relative;
    width: 100%;
    height: 34px;
    background: #c03221;
    border-top: 1px solid black;
    border-bottom: 1px solid #810000;
}

#filters, #decade {
    width: 78px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 1px 0 0 #f63e20, 2px 0 0 #810000;
}

ul.filters {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 45px;
    left: 10px;
    color: white;
    z-index: 200;
    list-style: none;    
}

ul.filters fieldset {
    border: 0;
}

ul.filters li input {
    display: none;
}

ul.filters li:not(.selected) {
    display: none;
}

ul.filters li.selected {
    text-decoration: line-through;
}

ul.filters {
    font-size: 10pt;
}

#decade {
    width: 77px;
    left: 80px;
}

ul#decades {
    display: none;
    z-index: 200;
    width: 62px;
    height: 455px;
    position: absolute;
    top: 35px;
    left: 0;
    background: #c03221;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-shadow: -2px 0 1px #f63e20 inset;
}

ul#decades a.decade {
    display: block;
    width: 60px;
    height: 34px;
    color: white;
    border: 1px solid #810000;
    border-top: 0;
    text-shadow: 0px 1px 1px #810000;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

ul#decades a.decade li {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px -19px;
}

#filters-content, #decade-content {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

#filters-content p, #decade-content p {
    margin: 0;
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 11pt;
    color: white;
    text-shadow: 0px 1px 1px #810000;
}

#decade-content p {
    left: 16px;
}

#filters-content button, #decade-content button {
    width: 27px;
    height: 34px;
    background: url(../img/classic-dropdown.png);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

#quick-decade {
    width: 32px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 159px;
    box-shadow: 1px 0 0 #f63e20, 2px 0 0 #810000;
}

#quick-decade button {
    width: 32px;
    height: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
}

#quick-decade button[name="decade-up"] {
    background: url(../img/decade-up.png);
    box-shadow: 0px 1px 0px #f63e20, 0px 2px 0px #810000;
}

#quick-decade button[name="decade-down"] {
    top: 18px;
    background: url(../img/decade-down.png);
}

#time-rule {
    height: 34px;
    width: -webkit-calc(100% - 193px);
    position: absolute;
    top: 0;
    left: 281px;
}

.timemarker {
    width: 1px;
    height: 34px;
    background: white;
    float: left;
    margin: 0 0 0 8%;
}

.timemarker:first {
    margin: 0 0 0 10%;
}

#cursor {
    width: 16px;
    height: 41px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/cursor.png);
    cursor: move;
    z-index: 200;
}

header {
    position: relative;
    width: 100%;
    height: 44px;
    background: #232323;
    border-bottom: 1px solid #2e2e2e;
}

header > div {
    position: absolute;
    top: 0;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px -117.5px;
    color: #171717;
    text-shadow: 0 1px 2px #363636;
}

header .logo h1 {
    font-size: 72px;
    background-image: linear-gradient(bottom, #222222 0%, #0f0f0f 100%);
    background-image: -o-linear-gradient(bottom, #222222 0%, #0f0f0f 100%);
    background-image: -moz-linear-gradient(bottom, #222222 0%, #0f0f0f 100%);
    background-image: -webkit-linear-gradient(bottom, #222222 0%, #0f0f0f 100%);
    background-image: -ms-linear-gradient(bottom, #222222 0%, #0f0f0f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pic-article {
    width: 550px;
    height: 414px;
    position: absolute;
    top: 200px;
    left: 200px;
    overflow: hidden;
}

.pic-article .article-head, .txt-article .article-head {
    position: relative;
    height: 59px;
    background: #f63e20;
    border-bottom: 1px solid #b82e18;
}

.pic-article .article-head>h1, .txt-article .article-head>h1 {
   font-weight: normal;
    font-size: 12pt;
    padding: 18px 0;
    text-indent: 15px;
    color: white;
    text-shadow: 0px 2px #ED0000;
}

button.read-it-later {
    width: 68px;
    height: 59px;
    border: 0;
    background: url(../img/clock.png) 50% no-repeat;
    box-shadow: -1px 0 0 0 #B82E18, -2px 0 0 0 #F86E58;
    position: absolute;
    right: 0;
    top: 0;
}

button.read-it-later:hover {
    background: url(../img/clock-hover.png) 50% no-repeat;
}

.pic-article a:hover>.read-more, .txt-article a:hover>.read-more {
    display: block;
}

.txt-article a {
    width: 370px;
    height: 440px;
    display: block;
    margin: 0;
    padding: 15px;
    color: #313131;
    background: #ededed;
}

.txt-article p {
    margin: 0;
    text-align: justify;
}

.txt-article {
    width: 400px;
    height: 500px;
    position: absolute;
    top: 200px;
    left: 200px;
    overflow: hidden;
}

.read-more {
    display : none;
    width: 150px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10px -76px;
    border-radius: 3px;
    box-shadow: 0 1px 1px black;
    background: rgba(0, 0, 0, 0.75);
}

.read-more p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12pt;
    color: white;
    margin: -10px -50px;
}

.tweet {
    width: 600px;
    height: 79px;
    background: #f63e20;
    position: absolute;
    top: 48px;
    right: 30px;
}

.tweet p {
    margin: 0;
    padding: 8px 0 0 90px;
    position: relative;
    color: white;
    font-size: 10pt;
}

.tweet p>img {
    box-shadow: 1px 0 0 0 #F86E58, 2px 0 0 0 #B82E18;
    position: absolute;
    top: 0;
    left: 0;
}

.tweet a {
    color: #0649c3;
}

.author-s-name {
    font-size: 14pt;
    color: white;
    text-shadow: 0px 2px #ED0000;
}

.author-s-mention {
    font-size: 10pt;
    color: #8f200e;
}

.expand {
    color: #8f200e;
}

#account {
    top: 0;
    right: 0;
    box-shadow: 0px -1px 0px 1px #000000, 0 -2px 0 2px #2e2e2e;
}

#account p {
    margin: 0;
    padding: 0;
    float: left;
    color: #ffffff;
    font-size: 10pt;
}

#account .user-name {
    margin: 0 10px;
    text-shadow: 0 1px 1px #000000;
}

#account button {
    width: 27px;
    height: 44px;
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    background: url(../img/user-menu.png);
}

#article-details {
    width: 100%;
    height: 100%;   
    -webkit-transform : rotateY(180deg);
    -webkit-transform-style : preserve-3d;
    -webkit-transition-property : webkit-transform;
    -webkit-transition-duration : .75s;
    -webkit-timing-function : ease-in-out;
    -webkit-transform-origin : 50% 0;
    -webkit-backface-visibility: hidden;
}

#article-details.flip {
    -webkit-transform : rotateY(0deg);
}

#text, #interactive {
    width: 50%;
    height: 100%;
    float: left;
}

#text {
    background: blue;
    position: relative;
}

#text::-webkit-scrollbar { 
    display: none; 
}

#menu-bar {
    width: 100%;
    height: 50px;
    background: green;
    position: fixed;
}

#bar-buttons {
    width: 50%;
    height: 100%;
    position: relative;
}

button[name='favorite'] {
    padding: 0;
    border: 0;
    min-width: 20px;
    height: 20px;
    top: 50%;
    left: 20px;
    margin: -10px 0 0 0;
    position: absolute;
}

#share {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
}

#share>ul.social-buttons {
    margin: 0;
}

#article-title {
    margin: 50px 0;
    height: 30px;
    position: relative;
}

#article-title>h1 {
    top: 5px;
    left: 20px;
    display: inline;
    position: absolute;
    font-size: 18pt;
}

#date {
    position: absolute;
    top: 50%;
    right: 10px;
}

#date>p {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 8pt;
}

#text-content>p {
    padding: 20px;
}

#interactive {
    background: red;
    position: relative;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
