/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clear {
    width: 100%;
    height: 20px;
}

html, body, #wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#home {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0;
    background-color: #ffb5b5;
}

#home .logo {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top: -22px;
    margin-left: -117.5px;
}

#about {
    position: absolute;
    top: 20px;
    left: 20px;
}

#follow {
    position: absolute;
    top: 20px;
    right: 20px;
}

#follow p {
    margin: 0 0;
}

/* ==========================================================================
   Social icons
   ========================================================================== */

ul.social-buttons {
    padding: 0;
    margin: 5px 15px;
    list-style: none;
}

ul.social-buttons>li {
    float: left;
}

a.sb,
.sb a {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -900em;
    color: #333;
    text-decoration: none;
    line-height: 100%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 2px 5px 0;
}

#follow .social-buttons li a:hover {
    -webkit-transform: rotate('360deg');
}

/* for IE */
*:first-child+html a.sb,
*:first-child+html .sb a {
    text-indent: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

a.sb.rss {
    background: url(../img/rss-button.png) no-repeat;
}

a.sb.twitter {
    background: url(../img/twitter-button.png) no-repeat;
}

a.sb.facebook {
    background: url(../img/facebook-button.png) no-repeat;
}

a.sb.tumblr {
    background: url(../img/tumblr-button.png) no-repeat;
}

a.sb.pinterest {
    background: url(../img/pinterest-button.png) no-repeat;
}

a.sb.google {
    background: url(../img/google-button.png) no-repeat;
}

form#sign-up, form#sign-twitter, form#sign-facebook {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
}

form#sign-twitter, form#sign-facebook {
    display: none;
}

#travel {
    width: 20px;
    height: 20px;
    bottom: 40px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

#space {
    width: 100%;
    height: -webkit-calc(100% - 100px);
    overflow-y: scroll;
    overflow: hidden;
}

#layer1, #layer2 {
    width: 100%;
    height: 100%;
    display: none;
}

#space:after {
    content: "";
    clear: both;
    display: block;
}

#main-articles {
    width: 80%;
    height: 100%;
    margin: -100px auto;
    position: relative;
    float: left;
}

#content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0;
    -webkit-transform-style : preserve-3d;
    -webkit-transition-property : webkit-transform;
    -webkit-transition-duration : .75s;
    -webkit-timing-function : ease-in-out;
    -webkit-transform-origin : 50% 0;
    -webkit-backface-visibility: hidden;
}

#content.flip {
    -webkit-transform : rotateY(180deg);
}

#particules {
    width: 100%;
    height: 100%;
}

#timeline {
    position: relative;
    width: 100%;
    height: 50px;
    background: navy;
}

.timemarker {
    width: 3px;
    height: 50px;
    background: white;
    position: absolute;
    top: 0;
    left: 200px;
}

#cursor {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background: black;
}

header {
    position: relative;
    width: 100%;
    height: 50px;
    background: #787878;
}

header > div {
    position: absolute;
    top: 0;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px -117.5px;
}

#options {
    top: 50%;
    left: 20px;
    margin-top: -11px;
}

#counter {
    position: absolute;
    width: 77px;
    height: 25px;
    top: 0;
    left: 84px;
    background-color: navy;
}

.block1, .block2, .block3, .tweet, .minigrid {
    float: left;
    margin: 10px;
    overflow: hidden;
}

.block1>h1, .block2>h1, .block3>h1 {
    width: 100%;
    background: #FFCC9C;
    margin: 0;
    padding: 10px 0;
    text-indent: 20px;
    text-transform: uppercase;
    color: white;
}

.minigrid {
    width: 635px;
}

.minigrid>* {
    margin: 10px 0 10px 0;
}

.minigrid>*:first-child {
    margin: 0 0 10px 0;
}

.minigrid>*:last-child {
    margin: 10px 0 0 0;
}

.block1 {
    width: 940px;
    height: 300px;
}

.block1>h1 {
    font-size: 18pt;
}

.block2 {
    width: 635px;
    height: 240px;
}

.block2>h1 {
    font-size: 16pt;
}

.block3 {
    width: 285px;
    height: 410px;
}

.block3>h1 {
    font-size: 14pt;
}

.block3.right {
    float: none;
    padding: 10px 0 0 10px;
}

.tweet {
    width: 635px;
    height: 65px;
    background: gray;
}

.tweet p {
    margin: 0;
    padding: 0;
}

#right-column, #left-column {
    width: 10%;
    height: 100%;
    float: left;
}

.column {

}

#account {
    right: 20px;
}

#article-details {
    width: 100%;
    height: 100%;   
    -webkit-transform : rotateY(180deg);
    -webkit-transform-style : preserve-3d;
    -webkit-transition-property : webkit-transform;
    -webkit-transition-duration : .75s;
    -webkit-timing-function : ease-in-out;
    -webkit-transform-origin : 50% 0;
    -webkit-backface-visibility: hidden;
}

#article-details.flip {
    -webkit-transform : rotateY(0deg);
}

#text, #interactive {
    width: 50%;
    height: 100%;
    float: left;
}

#text {
    background: blue;
    position: relative;
}

#text::-webkit-scrollbar { 
    display: none; 
}

#menu-bar {
    width: 100%;
    height: 50px;
    background: green;
    position: fixed;
}

#bar-buttons {
    width: 50%;
    height: 100%;
    position: relative;
}

button[name='favorite'] {
    padding: 0;
    border: 0;
    min-width: 20px;
    height: 20px;
    top: 50%;
    left: 20px;
    margin: -10px 0 0 0;
    position: absolute;
}

#share {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
}

#share>ul.social-buttons {
    margin: 0;
}

#article-title {
    margin: 50px 0;
    height: 30px;
    position: relative;
}

#article-title>h1 {
    top: 5px;
    left: 20px;
    display: inline;
    position: absolute;
    font-size: 18pt;
}

#date {
    position: absolute;
    top: 50%;
    right: 10px;
}

#date>p {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 8pt;
}

#text-content>p {
    padding: 20px;
}

#interactive {
    background: red;
    position: relative;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
